<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">SQL for Python Programmers</a>
  <div class="navbar-collapse collapse">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/{{root}}/"><i class="fa fa-home fa-fw" aria-hidden="true" title="home"></i>&nbsp;Home</a>
        <a class="nav-item nav-link mr-auto" href="/{{root}}/chapters/"><i class="fa fa-book fa-fw" aria-hidden="true" title="contents"></i>&nbsp;Contents</a>
        <a class="nav-item nav-link" href="/{{root}}/pages/intro"><i class="fa fa-info-circle fa-fw" aria-hidden="true" title="introduction"></i>&nbsp;Introduction</a>
        <a class="nav-item nav-link" href="/{{root}}/pages/howto"><i class="fa fa-gears fa-fw" aria-hidden="true" title="how to"></i>&nbsp;How To</span></a>
        <a class="nav-item nav-link" href="/{{root}}/pages/primer"><i class="fa fa-database fa-fw" aria-hidden="true" title="primer"></i>&nbsp;Primer</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-nav ml-auto">
        <a class="btn btn-link btn-lg" href="https://twitter.com/opcampbell" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="btn btn-link btn-lg" href="https://www.linkedin.com/in/owencampbell" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a class="btn btn-link btn-lg" href="http://github.com/meatballs" title="github"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</nav>
