<h2><i class="fa fa-book fa-fw" aria-hidden="true"></i> Contents</h2>
<ol class="list-group">
    {% for chapter in chapters %}
        <li class="list-group-item borderless clearfix">
          <div class="row">
            <div class="col-sm-9">
              <a href=/{{root}}/chapters/{{ chapter.dir }} class="btn btn-link" role="button"/>{{ chapter.title }}</i></a>
            </div>
            <div class="col-sm-1">
              <a href={{ chapter.nb }} class="btn btn-outline-light text-dark" role="button"><i class="fa fa-download fa-fw" aria-hidden="true"></i>&nbsp;Download</a>
            </div>
          </div>
          </li>
    {% endfor %}
</ol>
