{% extends "base.html" %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome</h1>
      <p>This is a tutorial for Python programmers who would like to improve their knowledge of SQL.</p>
      <p><a class="btn btn-primary btn-lg" href="/{{root}}/chapters/" role="button">Start&nbsp;<i class="fa fa-play fa-fw" aria-hidden="true"></i></a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Introduction</h2>
        <p>What material the tutorial covers and the level of existing knowledge you will need.</p>
        <p><a class="btn btn-secondary" href="/{{root}}/pages/intro" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a></p>
      </div>
      <div class="col-md-4">
        <h2>Running the Code</h2>
        <p>The tutorial includes lots of code which you may wish to run for yourself and there are several options for how to do so.</p>
        <p><a class="btn btn-secondary" href="/{{root}}/pages/running" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a></p>
      </div>
      <div class="col-md-4">
        <h2>What is SQL?</h2>
        <p>A primer on relational databases and SQL.</p>
        <p><a class="btn btn-secondary" href="/{{root}}/pages/primer" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
{% endblock %}
