{% extends "base.html" %}

{% block body %}
  <div class="jumbotron">
      <h1 class="display-3">Welcome</h1>
      <p>This is a tutorial for Python programmers who would like to improve their knowledge of SQL.</p>
      <p>You may find it helpful to read the <a href="{{root}}pages/intro.html">Introduction</a>, <a href="{{root}}pages/howto">How To</a> and <a href="{{root}}pages/primer">primer</a> pages first, but you are also welcome to dive straight in:</p>
      <p><a class="btn btn-primary btn-lg" href="{{root}}chapters/01/" role="button">Start&nbsp;<i class="fa fa-play fa-fw" aria-hidden="true"></i></a></p>
  </div>

  <div class="row">
    <div class="panel col-sm">
      <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Introduction</h4>
      <p>Why you might want to learn SQL, the level of knowledge you will need for this tutorial and how you can help to improve it.</p>
      <div class="panel-button">
        <a class="btn btn-secondary" href="{{root}}pages/intro.html" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="panel col-sm">
      <h4><i class="fa fa-cogs" aria-hidden="true"></i> How To</h4>
      <p>The tutorial includes lots of code which you may wish to run for yourself and there are several options for doing so.</p>
      <div class="panel-button">
        <a class="btn btn-secondary" href="{{root}}pages/howto.html" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="panel col-sm">
      <h4><i class="fa fa-database" aria-hidden="true"></i> Primer</h4>
      <p>Background material on relational databases and SQL.</p>
      <div class="panel-button">
        <a class="btn btn-secondary" href="{{root}}pages/primer.html" role="button">View details&nbsp;<i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
{% endblock %}


{% block footer %}
  <footer class="footer">
    {% include "partials/footer.html" %}
  </footer>
{% endblock %}
