<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://www.owencampbell.me.uk/images/favicon/favicon.ico" rel="icon">

  <title>SQL for Python Programmers</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link href="https://www.owencampbell.me.uk/theme/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}static/styles.css">

  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="fixed-top">
    {% block navbars %}
    {% include "partials/header.html" %}
    {% endblock %}
  </div>

  <main role="main" class="container">
    {% block body %}
    {% endblock %}
  </main>

  {% block footer %}
  <footer class="footer d-none d-md-block">
    {% include "partials/footer.html" %}
  </footer>
  {% endblock %}

</body>

</html>
