<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <p class="small">
        This tutorial was inspired by a talk given by Dave Jones at Python North West.
        The flights database, and much of the SQL code, is taken, with grateful thanks,
        from the <a href="https://waveform.org.uk/presentations/sql">slides</a> and
        <a href="https://github.com/waveform80/presentations">source code</a> for that talk.
      </p>
      <p class="small">
        Many thanks also to Dr. Vincent Knight of Cardiff University for the use of his
        <a href="https://vknight.org/gt/">Game Theory Course Notes</a> and their <a href="https://github.com/drvinceknight/gt">source code</a>.
      </p>
    </span>
  </div>
</footer>
