<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">SQL for Python Programmers</a>
  <div class="navbar-collapse collapse">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/{{root}}/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
        <a class="nav-item nav-link mr-auto" href="/{{root}}/chapters/"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Contents</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/{{root}}/pages/intro"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>&nbsp;Introduction</a>
        <a class="nav-item nav-link" href="/{{root}}/pages/running"><i class="fa fa-gears fa-fw" aria-hidden="true"></i>&nbsp;Running Code</span></a>
        <a class="nav-item nav-link" href="/{{root}}/pages/primer"><i class="fa fa-database fa-fw" aria-hidden="true"></i>&nbsp;Primer</a>
      </div>
    </div>
  </div>
</nav>
